.replay_panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  background-color: rgb(72, 72, 72);
  /* border-left: solid rgb(50, 50, 50) 1px;
  border-right: solid rgb(50, 50, 50) 1px; */
}

.replay_panel__disable {
  pointer-events: none;
}

.tp_slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 300px; /* Full-width */
  height: 20px; /* Specified height */
  background: white; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
  vertical-align: middle;
}
  
.touch_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgb(102, 102, 102);
  cursor: pointer;
}

.toolbar_button__s {
  width: 7vh;
  height: 7vh;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background: rgb(72, 72, 72);
}

.icon_image__s {
  width: 100%;
  height: 100%;
}

.tp_slider_button__play {
  width: 7vw;
  height: 7vh;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20%;
  vertical-align: middle;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.label_editor {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 25vw;
  height: 40vh;
  border-radius: 20px;
  background-color: purple;
}

.label_editor__active {
  left: 60vw;
  bottom: 12vh;
}

.label_editor__inactive {
  left: 100vw;
  bottom: 100vh;
}

.label_editor_row {
  display: flex;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: yellow;
}