.touch_slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 125%; /* Full-width */
    height: 30px; /* Specified height */
    background: white; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    vertical-align: middle;
}
  
.touch_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background: rgb(31, 177, 200);
    cursor: pointer;
}

.touch_button-m {

}

.replay_panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background-color: orange;
}

.control_panel {
    display: flex;
    position: absolute;
    bottom: 3vh;
    left: 30vw;
    width: 40vw;
    border-radius: 10px;
    background: blue;
    padding: 12px;
}

.tp_slider {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.tp_slider_button {
    width: 5vw;
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20%;
}

.blending_panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3vh;
    left: 3vw;
    width: 20vw;
    height: auto;
    padding: 12px;
    border-radius: 10px;
    background-color: purple;
    opacity: 1;
}

.panel_item_vertical {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #999;
    height: 40px;
    padding: 2px;
    margin: 1px;
}

.touch_select {
    width: auto;
    height: 5vh;
    border: 1px solid #999;
    font-size: 16px;
    color: #1c87c9;
    background-color: #eee;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}