.control_panel {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0vh;
  left: 10vw;
  width: 80vw;
  height: 9vh;
  font-size: 10vh;
  border-radius: 4.5vh;
  background: white;
  padding: 15px;
}

.panel_item_vertical {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #999;
  height: 40px;
  padding: 2px;
  margin: 1px;
}

.touch_select {
  width: auto;
  height: 5vh;
  border: 1px solid #999;
  font-size: 16px;
  color: #1c87c9;
  background-color: #eee;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.dev_panel {
  position: absolute;
  top: 80vh;
  right: 0vw;
  width: 30vw;
  padding: 5px;
  height: 20px;
  justify-content: center;
  align-content: center;
  vertical-align: center;
  opacity: 70%;
}

.dev_message {
  font-size: 15px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: greenyellow;
}